body {
  margin: 0px;
}

.container {
  font-size: 1.5em;
  font-family: Cuprum, sans-serif;
  color: white;
  min-height: 300px;
  width: 100%;
  background: #333031;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 2fr;

  grid-template-areas:
    "header header"
    "product_name text"
    "banner banner";
}

.item1 {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr 0.5fr;
  justify-items: stretch;
  align-items: center;
}

.item2 {
  grid-area: product_name;
  justify-self: center;
  align-self: center;
  font-size: 200px;
}

.item3 {
  grid-area: text;
  justify-self: center;
  align-self: center;
  margin: 50px;
  margin-right: 100px;
}

.item4 {
  grid-area: banner;
}

.item1_company {
  justify-self: center;
  margin-left: 100px;
}

.item1_phone {
  justify-self: left;
  margin-left: 50px;
}

.item1_language {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item1_menu {
    margin-right: 100px;
}
.item1_phone:hover,
.item1_search:hover,
.item1_menu:hover {
  background-color: #5d5d5d;
}

.icon {
  width: 50px;
  height: auto;
}

.banner {
  max-width: 95%;
  height: auto;
  margin: auto;
  display: block;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

a:hover {
  background-color: #5d5d5d;
}
